html {
  background-color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #F4F4F4;
  margin: 60px 0;
}

.section {
  margin: 0 auto;
  padding: 10px 30px;
  max-width: 600px;
  background-color: rgb(59, 60, 61);
}

.vis {
  margin: 20px auto;
  padding: 20px;
  max-width: 1100px;
  background-color: rgb(59, 60, 61);
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subtitle {
  color: #DDD;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -20px 0 20px;
}

.byline {
  color: #AAA;
  padding-bottom: 30px;
  text-align: center;
}

p {
  font-weight: 400;
  max-width: 600px;
  line-height: 1.7;
}

.vis-title {
  text-align: center;
  margin-bottom: 20px;
  /* Font settings */
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.legend-bg {
  fill: rgba(59,60,61,0.5);
}

.gridline line {
  color: rgba(255,255,255,0.07);
}

.gridline .domain {
  color: rgba(0,0,0,0);
}

.goty-year {
  margin-bottom: 10px;
  display: flex;
}

.goty-year:last-child {
  margin-bottom: 0;
}

.goty-year .year-label {
  margin-right: 20px;
  padding: 5px;
}

.goty-year .games-container {
  display: flex;
  flex-grow: 1;
}

.goty-year .games-bar {
  display: flex;
}

.goty-year .top-game {
  background-color: #3b5b8c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
  margin-right: 10px;
  flex: 1;
  min-width: 0;
  width: 0;
}

text {
  fill: white;
}

.gamept {
  fill: rgba(130,179,255,0.1);
}

#tooltip {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 3px 5px;
  font-size: 14px;
  background-color: rgba(255,255,255,0.9);
  color: black;
}
